* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f9fcff;
}

.banner h3 {
    font-size: 36px;
    color: #fff;
}

.section1 {
    background: url(assets/img/head-bann.jpg);
    height: 720px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.0), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.header img {
    padding-left: 23em;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15em;
}

nav ul {
    display: flex;
    list-style-type: none;
}

li {
    display: block;
}

a {
    padding: 2rem 1.5rem;
    color: #fff;
    text-decoration: none;
}

.home {
    color: #ff3372;
}

.myButton {
    border-radius: 28px;
    border: 2px solid #ffffff;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    padding: 20px 41px;
    text-decoration: none;
    font-weight: 700;
}

.myButton-nav {
    border-radius: 28px;
    border: 2px solid #ffffff;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    padding: 20px 41px;
    text-decoration: none;
    font-weight: 700;
}

.myButton-nav:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
}

.myButton:hover {
    background-color: #ff3372;
    transition: 0.5s;
    border: 2px solid #ff3372;
}

.myButton-pink {
    background-color: #ff3372;
    border-radius: 28px;
    border: 2px solid #ff3372;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    padding: 20px 41px;
    text-decoration: none;
    font-weight: 700;
}

.myButton-pink:hover {
    background-color: #fff;
    color: #ff3372;
    border: 2px solid #fff;
    transition: 0.5s;
}

.banner {
    width: 33%;
    margin-left: 360px;
    margin-top: 150px;
    line-height: 1.5;
}

.banner p {
    font-size: 18px;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.buttons {
    margin-top: 60px;
}

.double {
    float: left;
    margin-right: 20px;
}

.title {
    width: 58%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11px;
}

.section3 {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6em;
    margin-bottom: 6em;
    position: relative;
    background: #fff;
    top: -2em;
    box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.18);
}

.section3 h2 {
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: 50px;
}

.section3 p {
    font-size: 16px;
    color: #696969;
    line-height: 1.5em;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sick {
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 6em;
}

.sick h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sick p {
    font-size: 16px;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #fff;
}

.sickmaninfo {
    width: 29%;
    line-height: 24px;
    margin-left: 30px;
}

.sickmaninfo h2 {
    font-size: 30px;
    line-height: 48px;
}

.moreinfo {
    color: #ff3372;
    font-size: 18px;
    ;
}

.sickmaninfo p {
    color: #696969;
    margin-bottom: 20px;
}

.lol {
    padding-top: 20px;
    margin-top: 20px;
}

.lol img {
    float: left;
    margin-right: 15px;
}

.section5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #F9FCFF;
}

.know {
    width: 30%;
    margin-top: 8em;
}

.sickman-2 {
    margin-left: 30px;
}

.know h2 {
    font-size: 30px;
    line-height: 48px;
}

.know p {
    padding-bottom: 30px;
    font-size: 16px;
    color: #696969;
    line-height: 25px;
}

.pinkbuton5 {
    background-color: #ff3372;
    border-radius: 28px;
    border: 2px solid #ff3372;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    padding: 19px 21px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
}

.double-2 {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.section6 {
    height: 420px;
    background: url(assets/img/corona-bg.jpg);
    text-align: center;
}

.mapping {
    padding-top: 6em;
    color: #fff;
    text-align: center;
}

.mapping h1 {
    padding-bottom: 20px;
}

.section7 {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #fff;
    top: -11em;
}

.crn {
    margin: 15px 20px 15px 45px;
}

.numb {
    font-weight: bold;
    font-size: 35px;
}

.crn img {
    float: left;
}

.crn-inf {
    margin-right: 20px;
}

.crn-inf p {
    color: #696969;
}

.map {
    text-align: center;
}

.sss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section8 {
    background: url(assets/img/team-bg.jpg);
}

.cards {
    display: flex;
    justify-content: center;
}

.docinf {
    width: 370px;
    height: 344px;
    background-color: #fff;
    position: relative;
    top: -4px;
}

.docinf h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 20px 15px;
}

.docinf h5 {
    font-size: 16px;
    color: #696969;
}

.cardimg img {
    width: 370px;
}